<div class="container">
  <h2>Login</h2>
  <img class="profile-pic" src="/images/profile.jpg" alt="">

  <form action="/auth/login" method="POST" id="form-container">

    <div class="container">
      <input class="input" id="username" type="text" name="username" placeholder="Username">
      <br><br>
      <input class="input" id="password" type="password" name="password" placeholder="Password">
    </div>

    <br>
    {{#if message }}
    <div class="error-message"><i>{{ message }}</i></div>
    {{/if}}

    <br><br>

    <button class="big-btn">Login</button>

    <p class="account-message">
      Don't have an account yet?
      <a href="/auth/signup">Signup</a>
    </p>
  </form>
</div>