<h2 class="h2addSkill">Add a skill</h2>
<form class="userForm"action="/add" method="post">
  <label for="skillName">Name: </label>
  <input type="text" name="skillName" id="skillName" required>
  <br>
  <label for="description">Description: </label>
  <input type="text" name="description" id="description">
  <br>
  <label for="scheduleSpecs">Schedule: </label>
  <input type="text" name="scheduleSpecs" id="scheduleSpecs">
  <br>
  <label for="picture">URL picture: </label>
  <input type="text" name="picture" id="picture">
  <br>
  <button class="big-btn btn-addSkill" type="submit">Add</button>
  <br>
  <a class="big-btn btn-addSkill" href="/skills">Return</a>
</form>