<h1>Post a room</h1>
<form action="/skill" method="post">
  <label for="name">Name: </label>
  <input type="text" name="name" id="name">
  <label for="description">Description: </label>
  <input type="text" name="description" id="description">
  <label for="schedule">Schedule: </label>
  <input type="text" name="schedule" id="schedule">
  <label for="picture">URL picture: </label>
  <input type="text" name="picture" id="picture">
  <button type="submit">Add</button>
</form>