<div class="container">
  <h1>Skills in your Area</h1>

  <h2>All skills from our members:</h2>
</div>

{{#each skills }}
<ul>
  <li>{{ skillName }}
    <br>{{ description }}<br>
    <h1><a href="/details/{{_id}}">More Info</a></h1>
  </li>
</ul>
{{/each}}

<a href="/skills/addSkill">Add Skill</a>

<form action="/search" method="POST">
  <input type="text" placeholder="Piano lesson..." id="search-bar" name="skillSearch">
  <button type="submit">FIND</button>
</form>