<div class="container">
  <h2>Skill Overview</h2>

  <form action="/search" method="POST">
    <input class="input" type="text" placeholder="Piano lesson..." id="search-bar" name="skillSearch">
    <button class="find-btn" type="submit">Find</button>
  </form>
</div>

{{#each skills }}
<ul class="container-row">
  <li class="skill-list"><b>{{ skillName }}
      <a  href="/details/{{_id}}">More Info</a>
  </li>
</ul>
{{/each}}

<div class="container">
  <a class="big-btn" href="/skills/addSkill">Add your own</a>
</div>