<div class="container">
  <h2 class="h2Skills">Skills Overview</h2>

  <form action="/search" method="POST">
    <input class="input" type="text" placeholder="Piano lesson..." id="search-bar" name="skillSearch">
    <button class="find-btn" type="submit">Find</button>
  </form>
</div>

<table class="list-skills">
  {{#each skills }}
<tr class="tr">
    <td class="tdPicture "><dev class="imgSkills"><img src="{{picture}}" alt=""></dev></td>
    <td><p>{{ skillName }}</p></td>
    <td><a class="btn-skills" href="/details/{{_id}}">Info</a></td>
    <br>
  </tr>
  {{/each}}
 
</table>

<div class="container">
  <a class="big-btn" href="/skills/addSkill">Add your own</a>
  <a class="big-btn containerReturn" href="/">Return</a>
</div>
