<div class="container">
  <h2>Welcome</h2>

  

  <div class="index-img">
      <img class="mySlides"
    src="https://static.boredpanda.com/blog/wp-content/uploads/2017/12/funny-weird-wtf-stock-photos-1-5a39121d2fd9b__700.jpg"
    alt="">
   <img class="mySlides" src="https://img.buzzfeed.com/buzzfeed-static/static/enhanced/terminal01/2011/3/29/17/enhanced-buzz-14888-1301434118-8.jpg" style="width:100%">
  <img class="mySlides" src="https://static.boredpanda.com/blog/wp-content/uploads/2017/12/funny-weird-wtf-stock-photos-403-5a3bd36c44d28__700.jpg" style="width:100%">
  <img class="mySlides" src="https://static.boredpanda.com/blog/wp-content/uploads/2017/12/funny-weird-wtf-stock-photos-57-5a3bb7ba3c266__700.jpg" style="width:100%">
</div>

    
    

<div class="containerIndex">
  <p>Together, we are teaching Berlin -
    <b>SkillSharingStage</b> is a platform for exchanging skills and knowledge.
    Meet your neighbours, make new friends, grow together.
  </p>
</div>
  <div class="container-row">
    <div>
      <i class="fas fa-user-plus"></i>
      <h4>Signup</h4>
    </div>

    <div>
      <i class="fas fa-hand-holding-heart"></i>
      <h4>Share Skills</h4>
    </div>

    <div>
      <i class="fas fa-heart"></i>
      <h4>Receive</h4>
    </div>
  </div>

</div>