<div class="container">
  <h1>Welcome</h1>

  <img class="index-img"
    src="https://static.boredpanda.com/blog/wp-content/uploads/2017/12/funny-weird-wtf-stock-photos-1-5a39121d2fd9b__700.jpg"
    alt="">

  <p>Together, we are teaching Berlin -
    SSS is the platform for exchanging skills and knowledge.
    Meet your neighbours, make new friends, grow together.
  </p>

  <div class="container-row">
    <div>
      <i class="fas fa-user-plus"></i>
      <h4>Signup</h4>
    </div>

    <div>
      <i class="fas fa-hand-holding-heart"></i>
      <h4>Share Skills</h4>
    </div>

    <div>
      <i class="fas fa-heart"></i>
      <h4>Receive</h4>
    </div>
  </div>

</div>