// body {
// }

html {
  padding: 50px;
  font-family: 14px Helvetica, Arial, sans-serif;
  background-color: whitesmoke;
}

a {
  color: #00B7FF;
}


/* ----------------- MOBILE CSS --------------------- */
@media (max-width: 480px) {

  h2 {
    font-size: 3.5em ;
    text-align: center;
  }

  h4 {
    font-size: 1em;
  }


  .container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  .containerIndex p {
    margin-top: 5vh 0vh 5vh;
    text-align: justify;
  }

  /*------------------- INDEX -------------------*/

  .logo {
    position: absolute;
    left: 4%;
    border-width: 2px;
    border-style: solid;
    border-radius: 25%;
  }

  .container h2 {
    font-size: 3em;
  }

  .index-img {

    height: 200px;
    width: 80%;
  }

  .containerIndex {
    margin-bottom: 2vh;

  }

  .containerIndex p {
    font-size: 0.9em;

  }

  .mySlides {

    max-width: 100%;
    max-height: 100%;
    border: 8px grey rgba(28,110,164,0.39);
    border-radius: 20px 20px 20px 20px;

  }

  .container-row {
    display: flex;
    justify-content: space-around;
    width: 250px;
    border-radius: 20px;
    padding: 0px 4px 0px;

  }

  .fas {
    border-width: 3px;
    border-style: solid;
    border-radius: 50% 50% 50% 50%;
    padding: 10px;
    margin-bottom: -20px;
  }

  /*------------------- NAVIGATION -------------------*/

  .topnav {
    background-color: pink;
    width: 300px;
    overflow: hidden;
    position: relative;
  }

  /*------------------- Hide the links inside the navigation menu (except for logo/home) -------------------*/
  .topnav #myLinks {
    display: none;
  }

  /*------------------- Style navigation menu links------------------- */
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }

  /*------------------- Style the hamburger menu------------------- */
  .topnav a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

  /*------------------- Change text color to black on mouse-over -------------------*/
  .topnav a:hover {
    color: black;
  }

  /*----------------- Style the home --------------------*/
  .active {
    color: white;
  }

  /*---------------- LOGIN -------------------*/

  .profile-pic {
    width: 40%;
    border-radius: 50%;
    margin-bottom: 20px;
  }

  .input {
    width: 200px;
    outline: 0;
    border-width: 0 0 2px;
    border-color: pink;
    margin-top: 10px;
  }

  .login-btn {
    font-size: 14px;
    background-color: light-grey;
    width: 200px;
    border-radius: 50px;
    padding: 14px 20px;
    margin-bottom: 20px;
  }

  /*------------------- SKILL OVERVIEW -------------------*/

  .big-btn {
    background-color: lightgray;
    border-radius: 50px;
    padding: 14px 20px;
    margin-top: 20px;
    text-decoration: none;
    color: black;
  }

  .big-btn:active {
    background-color: darkgray;
    transform: translateY(2px);
  }

  .find-btn {
    background-color: lightgray;
    border-radius: 25px;
    padding: 7px 10px;
    text-decoration: none;
    color: black;
  }
  .find-btn:active{
    background-color: darkgray;
    transform: translateY(2px);
  }

  .skill-list {
    list-style: none;
    margin-bottom: -5px;
  }

.userH1name {
margin: 4vh;
text-justify: initial;
}


.userContainer {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  
  

}
.userForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  border-radius: 5px;
  background-color: grey;
  padding: 20px;
  border: 8px grey rgba(28,110,164,0.39);
  border-radius: 20px 20px 20px 20px;
  
}

.userImg img {
  width: 100px;
  margin-bottom: 4vh;
  border: 8px grey rgba(28,110,164,0.39);
border-radius: 20px 20px 20px 20px;


}

.userH1name {
  text-align: center;
}
.profileB {
  display: flex;
  align-self: center;

}

   /* ---------------- Skill DETAILS ------------------*/


   .skill-img {
    width: 200px;
  }

  .comments {
    margin-top: 20px;
  }

  .skill-form {
    margin-top: 20px;
  }

  .delete {
    margin-top: 20px;
  }
}
